<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="InputFilePath" value="C:\InputTest.txt"/>
    <add key="OutputFilePath" value="C:\OutPut\OutputText.txt"/>
    <add key="CheckingFolderPath" value="C:\New folder\"/>
  </appSettings>
</configuration>